VITE_SUPABASE_URL=https://oyysapiciwladsmzalux.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95eXNhcGljaXdsYWRzbXphbHV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUxMjcyOTAsImV4cCI6MjA4MDcwMzI5MH0.SjAN94OgrCA0KZAybHpyiBGERMes1_nuz_8GBOH7SrQ
VITE_EMAILJS_SERVICE_ID=service_id
VITE_EMAILJS_TEMPLATE_CAMP=template_camp
VITE_EMAILJS_TEMPLATE_KIDS=template_kids
VITE_EMAILJS_PUBLIC_KEY=public_key
